.full-width {
  width: 100%;
}

.keywords-cell {
  width: 150px;
}

.delete-provider-button {
  // height: 30px;
  // width: 30px;
  margin-left: 10px;
}

// .delete-provider-button mat-icon {
//   height: 20px;
//   width: 20px;
// }

.spacer {
  flex: 1;
}

.delete-provider {
  width: 100px;
  padding-left: 10px;
}

.spinner-container {
  float: left;
  margin-right: 10px;
}
