<div class="process-container" [formGroup]="form">

  <mat-form-field appearance="standard" floatLabel="always" class="rest-api-url-container">
    <mat-label>REST API Url</mat-label>
    <input matInput formControlName="restEndpointUrl">
  </mat-form-field>
  <mat-form-field appearance="standard" floatLabel="always" class="rest-api-url-container">
    <mat-label>Metrics API Url</mat-label>
    <input matInput formControlName="metricsEndpointUrl">
  </mat-form-field>
  <div class="button-container">
    <button class="api-url-control-button" mat-raised-button (click)="saveApiUrls()">Save</button>
    <button class="api-url-control-button" mat-raised-button (click)="reloadProcesses()">Reload</button>
  </div>

  <app-processes [processes]="processes" *ngIf="processes.length > 1"></app-processes>
  <app-process [pid]="processes[0].pid" *ngIf="processes.length === 1"></app-process>
</div>

