<div class="container" [formGroup]="form">
  <mat-form-field appearance="standard" floatLabel="always" class="rest-api-url-container">
    <mat-label>Metrics API Url</mat-label>
    <input matInput formControlName="metricsEndpointUrl">
  </mat-form-field>
  <div class="button-container">
    <button class="spinner-container api-url-control-button" mat-raised-button (click)="saveApiUrls()" [disabled]="form.disabled">Save</button>
    <button class="spinner-container api-url-control-button" mat-raised-button (click)="reloadProcesses()" [disabled]="form.disabled">Reload</button>
    <mat-spinner class="spinner-container" mode="indeterminate" diameter="35" *ngIf="form.disabled"></mat-spinner>
  </div>
  <div class="clear-float"></div>
  <mat-card class="warning-card" *ngIf="accessFailed">Metrics API endpoint access failed. Please check if Metrics API Url is correct.</mat-card>
  <app-metrics></app-metrics>
</div>
