// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$dotnet-monitor-ui-primary-color: $mat-blue;
$dotnet-monitor-ui-accent-color: $mat-blue;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dotnet-monitor-ui-primary: mat-palette($dotnet-monitor-ui-primary-color);
$dotnet-monitor-ui-accent: mat-palette($dotnet-monitor-ui-accent-color, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dotnet-monitor-ui-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dotnet-monitor-ui-theme: mat-light-theme((color: (primary: $dotnet-monitor-ui-primary,
      accent: $dotnet-monitor-ui-accent,
      warn: $dotnet-monitor-ui-warn,
    )));
