// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$light-primary: mat-palette($mat-blue);
$light-accent: mat-palette($mat-blue, A200, A100, A400);
$light-warn: mat-palette($mat-red);
$light-theme: mat-light-theme((color: (primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    )));

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

