.table-container {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.table-cell {
  padding-right: 10px;
}

.spinner-container {
  float: left;
  margin-right: 10px;
}

.clear-float {
  clear: both;
}

.display-columns-select {
  width: 350px;
}

.log-levels-select {
  width: 250px;
}

