.process-container {
  width: 800px;
}

table, .rest-api-url-container {
  width: 100%;
}

.center-text {
  text-align: center;
}

.button-cell {
  width: 100px;
}

.api-url-control-button {
  margin-right: 10px;
}
