@import '../../app-theme.scss';


.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

.metrics-list {
  width: 80%;
}

.spinner-container {
  float: left;
  margin-right: 10px;
}

.clear-float {
  clear: both;
}

.warning-card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: mat-color($dotnet-monitor-ui-warn, default);
  color: mat-color($dotnet-monitor-ui-warn, default-contrast);
  padding-top: 10px;
  padding-bottom: 10px;
}
