@import '../../app-theme.scss';


.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  margin-top: 10px;
}

.metrics-list {
  width: 80%;
}

.spinner-container {
  float: left;
  margin-right: 10px;
}

.clear-float {
  clear: both;
}

.warning-card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

@mixin set-warning-card-colors($theme) {
  $foreground: map-get($theme, foreground);
  .ngx-slider .ngx-slider-bubble {
    color: mat-color($foreground, text) !important;
    margin-bottom: 5px;
  }
}
