
.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
}

.metrics-list {
  width: 80%;
}

.spinner-container {
  float: left;
  margin-right: 10px;
}

.clear-float {
  clear: both;
}
