<div [formGroup]="form">
  <mat-form-field appearance="standard" floatLabel="always">
    <mat-label>Interval in seconds</mat-label>
    <input matInput type="number" formControlName="intervalSeconds">
  </mat-form-field>

  <br>
  <div>
    <button class="spinner-container" mat-raised-button color="primary" (click)="start()" [disabled]="form.disabled">Start</button>
    <button class="spinner-container" mat-raised-button color="warn" (click)="stop()" *ngIf="metricsTrackerRunning">Stop</button>
    <mat-spinner class="spinner-container" mode="indeterminate" diameter="35" *ngIf="metricsTrackerRunning"></mat-spinner>
  </div>

  <div class="clear-float"></div>
</div>

<mat-card class="warning-card" *ngIf="showNoMetricsWarning">Metrics endpoint did not return any results. Please make sure there's only one process available for 'dotnet-trace'.</mat-card>

<div [formGroup]="chartFiltersForm">
  <mat-form-field class="metrics-list" appearance="standard" floatLabel="always">
    <mat-label>Display graphs</mat-label>
    <mat-select formControlName="displayGraphs" multiple [disabled]="form.disabled">
      <mat-option *ngFor="let e of metricsList" [value]="e.name">{{e.displayName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <button mat-stroked-button class="margin-right-10" color="primary" [disabled]="form.disabled || !downloadAvailable" [matMenuTriggerFor]="downloadAllMenu" matTooltip="Downloads in prometheus exposition format">Download all metrics</button>
  <mat-menu #downloadAllMenu="matMenu">
    <button mat-menu-item (click)="downloadLogs(true, false)">Selected time range</button>
    <button mat-menu-item (click)="downloadLogs(true, true)">Full time range</button>
  </mat-menu>
  <button mat-stroked-button class="margin-right-10" color="primary" [disabled]="form.disabled || !downloadAvailable" [matMenuTriggerFor]="downloadSelectedMenu" matTooltip="Downloads in prometheus exposition format">Download selected metrics</button>
  <mat-menu #downloadSelectedMenu="matMenu">
    <button mat-menu-item (click)="downloadLogs(false, false)">Selected time range</button>
    <button mat-menu-item (click)="downloadLogs(true, true)">Full time range</button>
  </mat-menu>
  <button mat-stroked-button class="margin-right-10" color="primary" [disabled]="form.disabled || !downloadAvailable" (click)="downloadChart()">Download chart</button>
</div>
<div class="chart-container" *ngIf="lineChartData.length > 0">
  <ng5-slider [(value)]="minSelected" [(highValue)]="maxSelected" [options]="sliderOptions" (userChangeEnd)="onSliderChange($event)"></ng5-slider>

  <canvas id="metrics-chart-js-canvas" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
    [options]="lineChartOptions" [legend]="true" [chartType]="'line'" [plugins]="lineChartPlugins"></canvas>
</div>
