@import './app/app-theme.scss';
@import './app/app.component.scss';
@import './app/components/metrics/metrics.component.scss';

@include mat-core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-body {
  position: absolute;
  min-height: 100%;
  width: 100%;
}

@mixin set-app-background($background-color) {

  .app-body {
    background-color: $background-color;
  }
}


.dark-theme {
  @include angular-material-theme($dark-theme);
  @include set-app-toolbar($dark-theme);
  @include set-app-background(mat-color(map-get($dark-theme, primary), 900));
  @include set-warning-card-colors($dark-theme);


  $foreground: map-get($dark-theme, foreground);
  mat-form-field.mat-form-field input {
    color: mat-color($foreground, text);
  }
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include set-app-toolbar($light-theme);
  @include set-app-background(#ffffff);
  @include set-warning-card-colors($light-theme);
}
